#auditWrap
	#auditClose
		span.fa.fa-close
	#auditContentWrap
		.leftTxWrap
			#auditLegend 거래 상세 내역
			#marbleIdWrap 
				span RV
				div#marbleId -
			span.ball.largeMarble.bluebg.auditMarble

		.txHistoryWrap
			.auditHint &nbsp;거래 내역 확인을 위해 RV토큰을 눌러주세요!&nbsp;