.blackbg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.bluebg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.greenbg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.orangebg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.pinkbg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.purplebg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.redbg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.whitebg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}

.yellowbg {
    background-image: url('/imgs/yunblack.jpg') !important;
    background-size: 100% !important;
    background-repeat: round !important;
}